html
  head
    title='ACG loves K8S'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 The Kubernetes Book!!!
        p
        p 
          a.btn.btn-primary(href="https://acloud.guru/learn/kubernetes-deep-dive") What about a video course as well!
        p