html
  head
    title='AOS'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Agents of S.H.I.E.L.D
        p
          img(src='/images/image.png')
        p 
          a.btn.btn-primary(href="https://www.amazon.com/Docker-Deep-Dive-Nigel-Poulton-ebook/dp/B01LXWQUFF/ref=mt_kindle?_encoding=UTF8&me=&qid=1544707602") Docker Deep Dive book
        p