html
  head
    title='Docker FTW'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 I'm running in a container!!!
        p
        p 
          a.btn.btn-primary(href="https://www.amazon.com/Docker-Deep-Dive-Nigel-Poulton-ebook/dp/B01LXWQUFF/ref=mt_kindle?_encoding=UTF8&me=&qid=1544707602") Link to my Docker book
        p